.table {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #d1e0e0;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

#small-text {
    font-size: small;
}

#item {
    overflow:auto;
    background-color: #f2f2f2;
    width: 600px;
    height:600px;
    margin: 20px auto;
}

#navbar-color {
    background-color: #209682;
}

#logo a {
    border: 1px;
    border-color: black;
}
