{% extends "layout.html.twig" %}

{% block content %} 
    <table id="jobs" class="table table-bordred table-striped">
        <tbody>
            {% for result in results %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ url('asking', {id: result['id'] }) }}">{{ result['title'] }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
