{% extends "layout.html.twig" %}

{% block content %}
    <div id="ask">
        <div>
            {{ result['title'] }}
        </div>   
        <div>  
            {{ result['text'] }}
        </div> 
        <div>    
            <button type="button" class="btn btn-primary">Primary</button>
        </div>    
    </div>    
{% endblock %}
