{% extends "layout.html.twig" %}

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="column">
                <p>Some text..</p>
            </div>
            <div class="column">
                <p>Some text..</p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <p>Some text..</p>
            </div>
            <div class="column">
                <p>Some text..</p>
            </div>
        </div>
    </div>
{% endblock %}
