{% extends "layout.html.twig" %}

{% block content %} 
    <table class="table table-bordred table-striped">
        <tbody>
            {% for result in results %}
                {% if result['url'] is defined %}
                    <tr>
                        <td>
                            <a href="{{ result['url'] }}">{{ result['title'] }}</a>
                            <div id="small-text">{{ (result['time'] | date) |time_diff}}</div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            {{ result['title'] }}
                            <div id="small-text">2 hours ago</div>
                        </td>
                    </tr>    
                {% endif %}    
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' with {'page': page, 'maxPages': maxPages, 'pageName': 'job'} %}
{% endblock %}
