{% extends "layout.html.twig" %}

{% block content %}
    <div id="ask">
    {% if result is empty %}
        <div>
            No user data available
        </div>              
    {% else %}        
        <table id="jobs" class="table table-bordred table-striped">
            <tr>
                <td>
                    User:
                </td>
                <td>
                    {{ result['id'] }}
                </td>    
            </tr> 
            <tr>
                <td>
                    Created:
                </td>
                <td>
                    {{ (result['created'] | date) | time_diff}}
                </td>    
            </tr> 
            <tr>
                <td>
                    Karma:
                </td>
                <td>
                    {{ result['karma'] }}
                </td>    
            </tr>        
        </table>         
    </div>    
    {% endif %}
{% endblock %}
